{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Définir un nouveau mot de passe</h1>
    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    {{ form_end(form) }}
{% endblock %}

