{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie - Bucket-List{% endblock %}

{% block body %}
<div class="py-4">
    <h1 class="mb-3 text-gradient">Ajouter une catégorie</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="card shadow-sm card-hover card-glass">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        <div class="d-flex gap-2 mt-3">
                            <a href="{{ path('app_wish_formWish') }}" class="btn btn-glass">Annuler</a>
                            <button type="submit" class="btn btn-primary">Créer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

